<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">

    <title>Index</title>
  </head>
  <body>
    <h1></h1>

	<form action = "{{ url_for('team_request') }}" method = "POST">
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput">Location</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Location">
		</div>
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput1">Number of Team Members:</label>
		</div>
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput2">Developer</label>
			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Developer">
		</div>
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput3">Analyst</label>
			<input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Analyst">
		</div>
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput4">QA</label>
			<input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Qa">
		</div>
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput5">Architect</label>
			<input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Architect">
		</div>
		<div class="form-group col-md-3 mb-3">
			<label for="formGroupExampleInput6">Team Lead</label>
			<input type="text" class="form-control" id="formGroupExampleInput6" placeholder="Team lead">
		</div>
		<div class="form-group col-md-3 mb-3">
		<button type="submit" class="btn btn-primary ">Sign in</button>
		</div>
	</form>
    <script src="scripts/jquery-3.4.1.slim.min.js" integrity=""></script>
    <script src="scripts/popper.min.js" integrity=""></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js" integrity=""></script>
  </body>
</html>